body {
    background-color: #EDF2F4;
    overflow-x: hidden;
}
a:link { 
    text-decoration: none; 
}
a:visited { 
    text-decoration: none; 
}
a:active { 
    text-decoration: none; 
}
br {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
ul {
    list-style: none;
}
.nav {
    position: fixed;
    width: 100%;
    background-color: #2B2D42;
    margin: 0;
}
.nav-item {
    padding-bottom: 30px;
}
.nav-title {
    margin-left: 10px;
    margin-top: 10px;
    color: #EF233C;
    font: 30px;
    width: fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h4:hover {
    color: #EF233C;
}
.nav-title:hover {
    color: #EDF2F4;
}
.nav-links {
    width: min-content;
}
li {
    float: left;
}
.about-us {
    padding-top: 150px
}
h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    color: #2B2D42;
}
h4 {
    margin-top: 20px;
    color: #EDF2F4;
    font-size: 30px;
    text-align: right;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text {
    padding-left: 8rem;
    padding-right: 8rem;
}
p {
    text-align: center;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    color: #2B2D42;
}
h3 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 35px;
    color: #2B2D42;
}
.footer {
    width: 100%;
    height: 100px;
    background-color: #EDF2F4;
    bottom: 0;
    margin: 0;
}
.mode-light {
    margin-top: 15px;
    text-align: center;
    fill: #2B2D42;
}
.mode-dark {
    margin-top: 15px; 
    text-align: center;
    fill: #EDF2F4;
}
#copyright {
    color: #2B2D42;
    text-align: center;
    margin-top: 20px;
}
p {
    text-align: left;
    margin-bottom: 15px;
}
@media only screen and (max-width: 991px) {
    .nav-item {
        padding-bottom: 10px;
    }
    .about-us {
        padding-top: 200px
    }
}
div.infosub {
	font-family: 'Poppins', sans-serif;
    color: #e03a3e;
	font-size: 24px;
}

/* Dropdown Menu */
.dropbtn {
    background-color: #d41212;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    top: 56px;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ff0101;}
